<div class="container">
  <div class="input-group mb-3 p-4" id="seleccion">
    <span class="input-group-text">FILTROS</span>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="aparecer">
      <option value="mostrar1">TODA LA LISTA</option>
      <option value="mostrar2">BUSCAR POR FILTRO</option>
    </select>
    <button type="submit" class="btn btn-primary" (click)="agregarTransaccion()">Agregar Transaccion</button>

  </div>
</div>

<div class="table-responsive d-flex justify-content-center">
<table class="table table-striped table table-bordered border-dark text-center" *ngIf="aparecer=='mostrar1'">
  <thead class="table-warning">
    <tr>
      <th scope="col">EMAIL</th>
      <th scope="col">MONEDA ORIGEN</th>
      <th scope="col">CANTIDAD ORIGEN</th>
      <th scope="col">MONEDA DESTINO</th>
      <th scope="col">CANTIDAD DESTINO</th>
      <th scope="col">TASA DE CONSEVERSION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datos of divisa">
      <td>{{datos.emailCliente}}</td>
      <td>{{datos.monedaOrigen}}</td>
      <td>{{datos.cantidadOrigen  | currency}}</td>
      <td>{{datos.monedaDestino}} </td>
      <td>{{datos.cantidadDestino  | currency}}</td>
      <td>{{datos.tasaConversion | currency}}</td>
    </tr>
  </tbody>
</table>
</div>


<div *ngIf="aparecer=='mostrar2'" style="padding-left: 500px">
  <div style="width: 500px;">
    <label for="Select" class="form-label"> De: </label>
    <select class="form-select form-select-sm " name="monedaOrigen" [(ngModel)]="monedaOrigen" (ngModelChange)="ObtenerFiltroTransacciones()" aria-label=".form-select-sm example">
      <option value="">Ninguno</option>
      <option *ngFor="let div of resultado2" value="{{div.symbol}}" >{{div.symbol}} de {{div.name}}</option>
    </select>
  </div>
  <div class="mb-3" style="width: 500px;">
    <label for="Select" class="form-label"> A: </label>
    <select class="form-select form-select-sm" name="monedaDestino" [(ngModel)]="monedaDestino" (ngModelChange)="ObtenerFiltroTransacciones()" aria-label=".form-select-sm example">
      <option value="">Ninguno</option>
      <option *ngFor="let div of resultado2" value="{{div.symbol}}" >{{div.symbol}} de {{div.name}}</option>
    </select>
  </div>
</div>

<div class="table-responsive d-flex justify-content-center">
<table class="table table-striped table table-bordered border-dark text-center" *ngIf="aparecer=='mostrar2'">
  <thead class="table-warning">
    <tr>
      <th scope="col">EMAIL</th>
      <th scope="col">MONEDA ORIGEN</th>
      <th scope="col">CANTIDAD ORIGEN</th>
      <th scope="col">MONEDA DESTINO</th>
      <th scope="col">CANTIDAD DESTINO</th>
      <th scope="col">TASA DE CONSEVERSION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datos of divisaFiltro">
      <td>{{datos.emailCliente}}</td>
      <td>{{datos.monedaOrigen}}</td>
      <td>{{datos.cantidadOrigen | currency}}</td>
      <td>{{datos.monedaDestino}}</td>
      <td>{{datos.cantidadDestino | currency}}</td>
      <td>{{datos.tasaConversion | currency}}</td>
    </tr>
  </tbody>
</table>
</div>


