<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <div class="container-fluid">
    <span class="navbar-brand">BACKEND</span>
    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse"
     data-bs-target="#menu" aria-controls="navbarNavDropdown"
     aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PRODUCTOS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['punto1-producto']" >PRINCIPAL</a></li>
            <li><a class="dropdown-item"  [routerLink]="['punto1-producto-form/0']" >AGREGAR</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            TRANSACCION
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['punto2-transaccion']" >PRINCIPAL</a></li>
            <li><a class="dropdown-item"  [routerLink]="['punto2-transaccion-form/0']" >AGREGAR</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
